.lifehacks {
  padding: $gutter*2 0;
  background: #f5f5f5;

}

.lifehacks__post {
  &.post {
    min-height: 300px;
  }

  .post__comments {

    &::before {
      display: none;
    }
  }

  .post__data {
    color: $white;
  }
}