.news-it {
  padding: $gutter 0;
  background: #fafafa;

  @include media-breakpoint-down(md) {
    padding-top: calc(#{$gutter} / 2);
    //padding-bottom: calc(#{$gutter} / 2);
  }
}

.news-it__post {

  &.post {
    min-height: 235px;

    &::before {
      display: none;
    }
  }

  .post__content {
    left: 0;
    bottom: 0;
    padding: $gutter;
    background-color: $white;
  }

  .post__title {
    color: $textcolor;
    font-size: 17px;
    line-height: 20px;
    font-weight: 900;
    text-transform: none;
  }
}