.recent {
  padding: $gutter 0;

  ul li:not(:last-child) {
    margin-bottom: 4px;
  }
}

.recent__title {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid $accent;
  font-size: 21px;
  line-height: 29px;
  font-weight: 700;
}

.recent__list {
  margin: 0;
  padding: 0;
}

.recent__item {
  display: flex;
  background-color: #f0f0f0;

  &.post {

    &::before,
    &::after {
      display: none;
    }

    .post__content {
      position: static;
      padding: 9px 17px;
      background-color: #f9f9f9;

      flex-grow: 1;
    }

    .post__title {
      font-size: 14px;
      line-height: 1.2;
      color: $textcolor;
      font-weight: 500;
      text-transform: none;
      margin-bottom: 0;
    }

    .post__comments {
      font-size: 13px;
      line-height: 23px;
      color: #aaaaaa;

      &::before {
        display: none;
      }
    }

    .post__data {
      color: #aaaaaa;
    }
  }

  &:hover {
    background-color: $accent;

    .post__title {
      a {
        text-decoration: underline;
        color: $accent;
      }
    }

    .recent__item-title {
      color: #ffffff;
    }
  }
}

.recent__item-title {
  font-size: 14px;
  line-height: 29px;
  color: #909090;
  font-weight: 700;

  width: 125px;
  padding: 0 15px;
  flex-shrink: 0;   //
}