.reviews {
  padding: $gutter*2 0;
  background-color: $dark;

  .section-heading {
    color: $white;
    margin-bottom: 24px;
  }
}

.reviews__post {

  &.post {
    opacity: 0.5;
    transition: opacity $transition;

    &::before,
    &::after {
      display: none;
    }

    &:hover {
      opacity: 1;
      
      .post__title{
        a {
          text-decoration: underline;
        }
      }
    }

    .post__content {
      position: static;
      width: 100%;
      padding-top: $gutter;

      @include media-breakpoint-down(md) {
        padding-left: $gutter;
        padding-right: $gutter;
      }
    }

    &:not(:last-child) {
      .post__content {
        @include media-breakpoint-down(md) {
          padding-bottom: $gutter;
          border-bottom: 1px solid lighten($dark, 30%);
        }
      }
    }

    .post__comments {

      &::after {
        display: none;
      }

      &::before {
        display: inline-block;
      }
    }

    .post__title {
      font-size: 15px;
      line-height: 21px;
      text-transform: none;
    }
  }
}