// USER VARIABLES SECTION

$accent: #ec1c1c; // Accent Color
$dark: #202225;
$deep: #1c2026; //dark blue
$grey: #f5f5f5;
$white: #fff;
$black: #000;

$fontsize: 18px; // Body Font Size
$textcolor: #333; // Text Color
$lineheight: 1.5; // Document Line Height

$userfont: roboto-gt, sans-serif; // User Font Family
$systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family

$transition: 0.25s ease-out;

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;
//fontawesome
$fa-font-path: "../fonts/webfonts";


// IMPORT SECTION

@import "node_modules/bootstrap/scss/bootstrap-reboot.scss"; // Bootstrap Reboot collection
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss"; // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
@import 'node_modules/bootstrap/scss/_utilities.scss'; // Optional Bootstrap Utilities


@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/v4-shims.scss';

//@import "../libs/likely/dist/likely.scss";


// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl, $fdisplay: swap) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format("woff2");
    font-display: $fdisplay;
  }
}

@include font("baron-gt", normal, 900, "../fonts/baronblack.woff2");
@include font("baron-gt", normal, 700, "../fonts/baronbold.woff2");
@include font("roboto-gt", normal, 900, "../fonts/robotoblack.woff2");
@include font("roboto-gt", normal, 700, "../fonts/robotobold.woff2");
@include font("roboto-gt", normal, 500, "../fonts/robotomedium.woff2");
@include font("roboto-gt", normal, 400, "../fonts/robotoregular.woff2");


// GENERAL CSS SETTINGS

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

input,
textarea {
  outline: none;

  &:focus:required:invalid {
    border-color: red;
  }

  &:required:valid {
    border-color: green;
  }
}

body {
  font-family: $userfont;
  font-size: $fontsize;
  line-height: $lineheight;
  color: $textcolor;
  min-width: 300px;
  position: relative;
  overflow-x: hidden;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


//COMMON

.likely {
  .likely__widget{
    font-size: 12px;
  }

  svg {
    //left: 3px;
    //top: 3px;
    width: 14px;
    height: 14px;
  }
}

.horizon-ad {
  max-width: 968px;
  margin: 0 auto $gutter;

  /*img {
    display: block;
    max-width: 100%;
    height: auto;
  }*/

  &.horizon-ad_prima {
    margin: $gutter auto 0;
  }
}

.section-heading{
  margin-bottom: $gutter;
  font-size: 23px;
  line-height: 25px;
  //text-decoration: underline;
  color: #ec1c1c;
  font-weight: 900;
  text-transform: uppercase;

  a{
    color: inherit;
  }
}

.aside-box {
  img {
    width: 100%;
  }
}